body {
	font-family: monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	text-align: center;
	font-size: 18px;
}

img {
	max-width: 50%;
	height: auto;
}